<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

	{% capture shared %}{{site.baseurl}}{{site.shared}}{% endcapture %}
	{% if page.url == "/index.html" %}
		{% assign homepage = true %}
	{% else %}
		{% assign homepage = false %}
	{% endif %}

	<title>{% unless homepage %}{{ page.title }} - {% endunless %}{{ site.title }}</title>


    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    {% if page.author %}<meta name="author" content="{{ page.author }}">{% endif %}

    <!-- Le styles -->
    <link href="{{shared}}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
		body {
			padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
		}
		.footer {
			text-align: center;
			padding: 30px 0;
			margin-top: 70px;
			border-top: 1px solid #e5e5e5;
			background-color: #f5f5f5;
		}
    </style>
    <link href="{{shared}}/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

  </head>

	<body>
		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="brand" href="{{site.baseurl}}/">{{ site.title }}</a>
					<div class="nav-collapse collapse">
						<div class="pull-right">
							<ul class="nav">
							{% for destination in site.outlinks %}
								<li><a href="{{destination.link}}">{{ destination.text }}</a></li>
							{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span2">
					<div class="well sidebar-nav affix">
						<ul class="nav nav-list">
						{% for destination in site.navlinks %}
							{% include link_analyze.ext %}
							{% if destination.page == page.url %}
								<li class="active"><a href="#">{{ destination.text }}</a></li>
							{% else %}
								<li><a href="{{desturl}}">{{ destination.text }}</a></li>
							{% endif %}
						{% endfor %}
						</ul>
					</div>
				</div>
				<div class="span9">
					<div id="content">
						{{ content }}
					</div>
				</div>
			</div> <!-- /row-fluid -->
		</div> <!-- /container-fluid -->
		<footer class="footer">
			<div class="container">
				{% unless homepage %}
				<p>
					{% capture rawurl %}{{ site.url }}{{ site.baseurl }}{{page.url}}{% endcapture %}
					{% capture url %}{{ rawurl | replace:'index.html','' }}{% endcapture %}
					Current page:
					<a href="{{ url }}">&lt;{{ url }}&gt;</a>
				</p>
				{% endunless %}

				<p>
					Homepage of Dr. Judy M. Vance, Iowa State University:
					<a href="{{ site.url }}{{ site.baseurl }}/">&lt;{{ site.url }}{{ site.baseurl }}/&gt;</a>
				</p>
				<p>
					Contact:
					<a href="mailto:jmvance@iastate.edu">&lt;jmvance@iastate.edu&gt;</a>
				</p>
				<hr>
				<p><small>Web site built with <a href="http://jekyllrb.com">Jekyll</a> and <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>.</small></p>
				{% unless site.url == site.productionurl %}
				<p><small><a href="{{ site.url }}{{ site.baseurl }}/README.html">Web Site Maintainance Help</a></small></p>
				{% endunless %}
			</div>
		</footer>
	</body>
</html>
